html {
    direction: ltr;
    font-size: var(--font-size-base);
    min-height: 100%;
  }

  body {
    margin-bottom: 0 !important;
    font-family: var(--font-family-base);
    -webkit-font-feature-settings: "liga" 0;
    font-feature-settings: "liga" 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;

    @media print {
      background: none;
    }
  }

  .v-application {
    .display-4, .display-3, .display-2, .display-1, .headline, .title, .subtitle-1, .subtitle-2, .body-1, .body-2 {
      font-family: var(--font-family-base) !important;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-base);
  }

  p {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    line-height: 32px;
  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 6px;
    transition: .3s background;
  }

  ::-webkit-scrollbar-thumb {
   background: #ced4da;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #adb5bd;
  }

  noscript {
    background-color: var(--primary);
    color: var(--white);
    display: block;
    font-size: 19.2px;
    margin: 0;
    padding: 32px;
    text-align: center;
    width: 100%;
  }

  [role="button"] {
    cursor: pointer;
  }

  [disabled],
  .disabled {
    pointer-events: none;
  }

  [contenteditable]:not(div) {
    border-bottom: 1px dashed var(--primary);

    &:hover {
      cursor: pointer;
    }
  }

  :target::before {
    content: "";
    display: block;
    height: 70px;
    margin: -70px 0 0;
  }

  [data-page-body] {
    :target::before {
      content: "";
      display: block;
      height: 5px;
      margin: -5px 0 0;
    }
  }

  pre {
    padding: 0;
  }

.text-secondary-color {
    color: #1e2dbe !important;
}

.text-secondary-menu {
    color: #1e2dbe !important;
    font-weight: 800 !important;
}

.text-tertiary-color {
    color: #FA3C4B !important;
}

.dp-name {
    font-size: 1rem !important;
    font-weight: 400;
    // letter-spacing: 0.03125em !important;
    letter-spacing: 0.07em !important;
    line-height: 1.5rem;
    font-family: "Roboto", sans-serif !important;
}

.workplan-completion {
    background-color: #ebf5fd;
}

.score-bg {
    background-color: #ebf5fd !important;
}

.chart-title {
    height: 3.7rem;
}

.chart-title-score {
    height: 1rem;
}
// .v-list-item {
//     background-color: #DFE1F5 !important;
// }


// .v-list-item:focus-visible {
//     opacity: calc(0.15 * var(--v-theme-overlay-multiplier));
//     background: red !important;
// }
// v-list-item v-list-item--link v-list-item--nav v-theme--light v-list-item--density-default v-list-item--one-line v-list-item--rounded v-list-item--variant-text font-weight-bold


// v-list-item v-list-item--active v-list-item--link v-list-item--nav v-theme--light v-list-item--density-default v-list-item--one-line v-list-item--rounded v-list-item--variant-text v-list-group__header

// v-list-item v-list-item--active v-list-item--link v-list-item--nav v-list-item--prepend v-theme--light v-list-item--density-default v-list-item--one-line v-list-item--rounded v-list-item--variant-text font-weight-bold white--text

.sidebar-title .v-list-item-title {
    font-weight: 700 !important;
    font-family: 'Overpass', sans-serif;
}

// .sidebar-reset {
//     z-index: 1 !important;
// }

// .v-navigation-drawer__scrim {
//     z-index: 1002 !important;
// }
@media only screen and (min-width: 960px) {
    .v-navigation-drawer__content {
        margin-top: 9.8rem;
    }
  }




// Mobile
.sidebar-reset {
    z-index: 1005 !important
}

.v-navigation-drawer__scrim {
    z-index: 1002 !important;
}

.mdi-play::before {
    font-size: 1.3rem !important;
}

