.v-app-bar.v-app-bar--hide-shadow {
    box-shadow: var(--box-shadow);
  }

  .dt-app-bar-nav-icon {
    position: absolute;
  }

  .v-list-item__content {
    display: flex;
  }

.mini-header {
    background-color: #151F85;
}
