.v-dialog > .v-card > .v-card__title {
    font-size: var(--font-size-base);
    font-weight: 700;
    padding: var(--padding-base);
  }

  .v-dialog > .v-card > .v-card__text {
    padding: var(--padding-base);
  }
  